@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: grid;
    overflow: auto;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr min-content;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;
    height: 100px;
    background-color:gold;
    padding: 4px 40px;
    font-size: 18px;
    border-bottom: 2px solid black;
    width: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
}

.header__title {
    font-size: 16px;
}

.header__navigation {
    margin-left: 40px;
}

.header__search {
    width: 100%;
    max-height: 100px;
    max-width: 300px;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.side_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color:grey;
    border-right: 2px solid black;
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
    height: 100px;
    padding: 10px 40px;
    background-color: gold ;
    font-size: 18px;
    border-top: 2px solid black;
    width: 100%;
    height: 100%;
    position: sticky;
    bottom: 0;
}

.audio {
    margin-top: 0.5%;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
}

.tags {
    list-style: none;
    font-size: 22px;
    position: sticky;
    top: 1%;
}

.tag {
    margin-bottom: 30px;
    cursor: pointer;
}

.tag:hover {
    color: gold;
}

.other-tags {
    list-style: none;
    font-size: 18px;
    position: sticky;
    bottom: 15%;
}

.other-tag {
    margin-bottom: 30px;
    cursor: pointer;
    color: gold;
}

.other-tag:hover {
    color: black;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 8px;
}

.link:hover {
    text-decoration: underline;
}

.content {
    padding: 5px;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}

.category {
    padding-left: 20px;
    padding-top: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    margin: 1%;
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; */
} 

.card {
    /* width: 100%;
    height: 100%; */
    /* float: left; */
    /* margin-left: 20px; */
    width: 250px;
    height: 300px;
    background-color: grey;
    border-radius: 5px;
    overflow: hidden;
    font-family: inherit;
    margin-top: 20px;
}

.card-image {
    width: 100%;
    height: 80%;
    border-bottom: 2px solid black;
}

.card-body {
    padding: 3px 10px;
}

.card-title {
    font-size: inherit;
}

.card-music-title {
    text-decoration: none;
    color: inherit;
}

.card-music-title:hover {
    color: gold;
}

.card-artist {
    font-size: 16px;
    padding-top: 6px;
}

.artist {
    text-decoration: none;
    color: white;
}
